.plan {
  min-height: 100vh;
}

#add_control {
  display: none;
  position: fixed;
  top: 100px;

}

table tr,table td,table th {
  min-width: 200px;


}

.rap {
  max-height: 400px;
  overflow-y: scroll;
}